<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="partnership">

	<!-- 견적문의 작성 -->
	<insert id="pts_insert" parameterType="pokas.web.dto.RequestDTO">
		insert into smile_partnership values(null,#{phone},#{email},#{title},#{detail},now())
	</insert>
	

	<!-- 견적문의 보기 -->
	<select id="pts_all" resultType="pokas.web.dto.RequestDTO">
		select * from smile_partnership order by id desc
	</select>	
	
	<!-- 견적문의 삭제 -->
	<delete id="pts_delete">
		delete from smile_partnership where id = #{id}
	</delete>	
	
	
	
	
</mapper>